VITE_BACKEND_BASE_URL=http://localhost:4000
VITE_ADMIN_SITE_URL=https://admin.orga.cc
VITE_SITE_URL=https://orga.cc
VITE_GA_ID=G-XXXXXXXXXX
VITE_GOOGLE_CLIENT_ID=xxxxxxxx.apps.googleusercontent.com
VITE_GOOGLE_ADSENSE_CLIENT=pub-4373953084244594
VITE_GOOGLE_SITE_VERIFICATION=google-site-verification=IQ66F5YIr4C5SxcIihgNDePzlzcZBLBoesP8llItUCA
